/**********************
        RESET
**********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    /* border: 0.5px dashed salmon; */
}
img{
    width: 100%;
}
/**********************
        GENERAL
**********************/
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
 
.container-small{
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    padding: 0 15px;
}

.flex{
    display: flex;
}

.grow{
    flex-grow: 1;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.btn{
    background-color: transparent;
    padding: 8px 14px;
    border-radius: 18px;
    border: none;
}

.btn-white{
    background-color: white;
}

.btn-blue{
    background-color:#0084fd;
    color: white;
}

.btn-purple{
    background-color: #9792e4;
    color: white;
}

.card{
    border-radius: 16px;
    padding: 20px 16px;
}
/**********************
        HEADER
**********************/
header{
    background-color: #0084fd;
    padding: 10px;
    color: white;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
header ul {
    gap: 26px;
    align-items: center;
}
.icon-hamburger{
    display: none;
}
/**********************
         MAIN
**********************/
/* --------------------section intro */
.intro{
    padding: 50px 0 100px 0;
}

.particular-card{
    text-align: left;
}

button > i.fa-brands{
    font-size: 18px;
    margin-right: 8px;
    color: white;
}
.intro .col{
    width: calc(100% / 3 - 10px);
    margin: 10px 0;
}
.intro .row{
    gap: 10px;
}
.card-intro{
    background-color:#b5ddff ;
    text-align: center;
}
.card-intro h2,
.card-intro i{
    color: #0084fd ;
}
.card-intro *:not(:last-child){
    margin-bottom: 34px;
}

.card-intro i {
    font-size: 80px;
}

.card-intro p {
    color: #6e869b;
    font-weight: bold;
}
/* ----------------------------------section planning */
.planning{
    background-color: #9792e4;
}
.planning .container{
    padding: 150px 130px 70px 130px;
}

.col-right-pn{
    padding: 130px 10px 0 0;
}

.col-right-pn *{
    margin-bottom: 20px;
}

.col-right-pn i{
    padding: 16px;
    background-color: #9792e4;
    border-radius: 50%;
}

.col-left-pn *{
    margin-bottom: 60px;
    color: white;

}
.col-left-pn img{
    margin-bottom: 150px;
}

.planning .col{
    width: 50%;
}

.card-planning{
    background-color: white;
    text-align: center;
    border-radius: 40px;
    
}
/* ----------------------------section partners */
.partners{
    padding: 40px 0;
}
.partners h1{
    color: #9792e4;
}

.title-partners *{
    padding: 0 10px;
    margin-bottom: 40px ;
    text-align: center;
}

.card-partners{
    display: flex;
    background-color:#9792e4;
    color: white;
    margin-bottom: 30px;
    border-radius: 40px;
    padding: 10px 0 16px 0;
}

.title-card-partners{
    padding: 30px 20px 0 20px;
}
.title-card-partners *:not(:last-child){
    margin-bottom: 20px;
}
.card-partners img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    padding: 10px;
    
}

/* ------------------------section benefit */
.benefit{
    background-color: #9792e4;
    text-align: center;
    padding-bottom: 50px;
}

.benefit h1{
    padding: 50px 0;
    color: white;
}
.benefit .col{
    width: calc(100% / 3 - 14px);
}

.benefit .card{
    background-color: white;
    text-align: left;
}
.benefit .row{
    gap: 21px;
}

.benefit .card *{
    margin:0 10px 10px 0;
}

.benefit .card h2,h3{
    color: #9792e4;
}

.benefit .card h2{
    font-size: 60px;
}
/* ------------------------section benefit */
.about .container{
    padding: 80px 0 ;
}
.about h1 {
    font-size: 60px;
    color: #9792e4;
}
.col-left-about{
    width: 70%;
    padding: 0 40px;
}
.col-left-about *{
    margin-bottom: 50px;
}

.col-right-about *:not(:last-child){
    margin-bottom: 30px;
}
.col-right-about{
    width: 30%;
    padding: 20px;
    color: #9792e4;
    font-size: 30px;
}
.col-right-about img{
    border-radius: 50%;
}
/* ------------------------section conclusive */
.conclusive{
    background-color: #9792e4;
    padding: 100px 0;
    color: #d5d4f4;
}
.conclusive .container *{
    margin-bottom: 30px;
    text-align: center;
}

.conclusive .container h2{
    color: #fdc15f;
    font-size: 100px;
}

.conclusive .container h3{
    color: white;
    font-size: 50px;
}

.conclusive .container button{
    font-weight: bold;
    letter-spacing: 6px;
    color: #9792e4;
    padding: 26px 70px;
    border-radius: 40px;
}

/**********************
         FOOTER
**********************/



/**********************
        RESPONSIVE
**********************/
@media screen and (max-width:992px){
        /*header  */
    .icon-hamburger{
        display: block;
    }

    .list-none{
        display: none;
    }
    /* main */
    /* section intro */
    div.col.card.grow.flex.card-intro{
        display: block;
    }
    .card-intro img{
        width: 50%;
    }
    /* section planning*/
    .planning .container{
        display: block;
        padding: 30px;
    }
    .planning .col{
        width: 100%;
    }
    /* section benefit */
    .benefit .col{
        width: calc(50% - 14px);
    }
    
}

@media screen and (max-width:768px){
    .intro .col{
        width: 100%;
    }
    /* sectio partners */
    .card-partners{
        display: block;
        text-align: center;
    }
     /* section benefit */
     .benefit .col{
        width: 100%;
    }
    /* section benefit */
    .about .container{
        display: block;
    }
    .col-left-about{
        width: 100%;
    }
    .col-right-about{
        width: 100%;
    }
}